.gemini/**
GEMINI.md
.vscode/**
.vscode-test/**
out/**
coverage/**
node_modules/**
src/**
.gitignore
.yarnrc
esbuild.js
esbuild.mjs
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
package-lock.json
yarn.lock
pnpm-lock.yaml
!dist/*.node
media/**
test-fixture/**
justfile
vitest.config.mts
